# 비교연산자

In [17]:
# [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
scores = [88, 73, 89, 59, 77]

# scores 값들이 60 이상이니?
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

# 리스트 메소드

### append 리스트 제일 뒤에 요소 추가

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

## insert는 요소를 원하는 인덱스 위치에 넣을 수 있다.

In [20]:
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

## extend는 리스트1에 리스트2를 뒤로 붙인다.

### 리스트1.extend(리스트2)

In [21]:
numbers.extend([9, 10, 11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

## remove(요소) 리스트에서 요소와 같은 첫번째 것 삭제한다.

In [22]:
numbers.remove(0)
print(numbers)

[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [23]:
del numbers[0]

In [24]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

### pop() --> 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 삭제한다.

In [25]:
print(numbers.pop())

11

In [26]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]

### index(요소) 리스트 안에 인자와 같은 요소를 앞에서부터 찾습니다. 제일 처음 발견된 요소의 인덱스 위치를 반환합니다.

In [27]:
print(numbers.index(0))

2

### count(인자) 리스트 안에 인자와 같은 요소가 몇 개가 있는지 반환

In [28]:
print(numbers)
print(numbers.count(0))

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]
3

### 리스트 정렬하기
- sort()는 오름차순
- reverse()는 순서를 거꾸로  
반환 값은 둘다 None

In [29]:
print(numbers.sort())
print(numbers.reverse())

None
None

In [30]:
numbers.sort()
print(numbers)

[0, 0, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0]

In [32]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)

print(stack.pop())

print(stack)

print(stack.pop())

print(stack.pop())

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

# 튜플
## 튜플은 수정이 불가하다

In [34]:
# 튜플은 수정이 불가
tuple_variable = (1, 2, 3, 4, 5, "hello")
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [36]:
# 슬리이싱으로도 수정 불가
tuple_variable[1:3] = ("dd", "ee")

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가하다.

In [38]:
# 튜플은 요소 삭제 불가
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플은 소괄호 생략이 가능하다. 하지만 명시해서 명확하게 표현하는 게 좋다.

In [39]:
t_v2 = "음", "오", "아", "예"
print(type(t_v2))
print(t_v2)

<class 'tuple'>
('음', '오', '아', '예')

### 튜플과 리스트의 소요시간 비교

In [40]:
import time

curr = time.time()
total = []

for i in range(1000) :
    for j in range(1000):
        total.append((i,j))
        
        
last = time.time()
print(last - curr)

0.1848888397216797

In [41]:
import time

curr = time.time()
total = []

for i in range(1000) :
    for j in range(1000):
        total.append([i,j])
        
        
last = time.time()
print(last - curr)

0.586479902267456

## 변수 여럿에 동시 할당하기(Unpacking)

In [42]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [43]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

이렇게 리스트도 가능합니다.

In [44]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

문 자 열 도

## 파이썬 입력 사용해보기

In [49]:
# 1111 입력해보기
input_value = input("Message")

Message 1111

In [50]:
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'str'>

In [51]:
input_value = int(input_value)
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'int'>

In [70]:
# 1.1 입력해보기
input_value2 = input("정수 외에 다른 값을 입력해보세요.")

정수 외에 다른 값을 입력해보세요. 1.1

In [71]:
# 사용자가 입력한 값이 ‘1.1’일 때 int() 내장 함수를 활용하여 정수로 변환하려면 에러가 납니다.
input_value2 = int(input_value2)
print(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [72]:
# 사용자가 입력한 값이 실수 형태일 때 소수점을 버리면서라도 정수로 만들고 
# 싶다면 우선 float() 내장 함수로 float type으로 만든 후 int() 내장 함수를 사용하면 
# 됩니다.
input_value2 = float(input_value2)
print(input_value2)

input_value2 = int(input_value2)
print(input_value2)

1.1
1

In [62]:
# eng 입력해보기
input_value3 = input("정수 외에 다른 값을 입력해보세요.")

정수 외에 다른 값을 입력해보세요. eng

In [63]:
# 사용자가 입력한 값이 숫자로 변환 불가한 값의 str이라면 int() 내장 함수를 사용하면 에러가 발생한다
int(input_value3)

ValueError: invalid literal for int() with base 10: 'eng'

In [76]:
# 이름:엔코아, 첫번째 정수: 300, 두번째 정수: 400
name = input("이름을 입력하시오")
print(name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
first_int = int(input("첫번째 정수를 입력하세요:"))
second_int = int(input("두번째 정수를 입력하세요:"))
print(first_int, "과", second_int, "의 합은", first_int + second_int, "입니다.")

이름을 입력하시오 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫번째 정수를 입력하세요: 300
두번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [77]:
# 경기장: 고척, 이긴팀: KT, 진팀: LG, 우수 선수: 강백호, 스코어: 10:9
stadium = input("경기장은 어디입니까?")
win = input("이긴 팀은 어디입니까?")
lose = input("진 팀은 어디입니까?")
mvp = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("\n[속보]", win, "가", score, "로 승리...")
print("오늘", stadium, "경기장에서 야구 경기가 있었습니다.")
print(win, "와", lose, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", mvp, "가 맹활약을 했습니다.")
print("그 끝내", win, "가", lose, "를", score, "로 승리하였습니다.")
print("기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진 팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

## 입력 값을 여러 개의 변수에 저장하기(.split)

In [78]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [79]:
# 12:33:23 입력
time = input("hh:mm:ss 의 형태로 시간을 입력해주세요")
st = time.split(':')

print("\n실행 결과:")
print("시 :", st[0])
print("분 :", st[1])
print("초 :", st[2])

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

실행 결과:
시 : 12
분 : 33
초 : 23

In [80]:
# 12:33:23 입력, unpacking
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(":")

print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

## map() 내장 함수 이용하기

In [81]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [82]:
a = [1.2, 2.5, 3.7, 4.6]
a = map(int,a)
print(a)

<map object at 0x0000017D0C21AA30>

In [83]:
# 98,100,96,100 입력
a = input("국어, 영어, 수학, 과학 점수를 입력해주세요")
a = a.split(',')
kor, eng, mat, sci = map(float,a)
average = (kor + eng + mat + sci)/4

print("\n실행 결과:")
print("평균 점수는", average, "점입니다")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

실행 결과:
평균 점수는 98.5 점입니다

In [84]:
# 98,100,96,100 입력
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점입니다.")

국어, 영어, 수학, 과학, 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

In [86]:
# 98,100,96,100 입력
a = input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(",")
kor, eng, mat, sci = map(int,a)
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점입니다.")

국어, 영어, 수학, 과학, 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

In [87]:
print("value", 1, 1.1, [1, 2, 'text'])

value 1 1.1 [1, 2, 'text']

In [88]:
print("value", 1, 1.1, [1, 2, 'text'], sep=", ")

value, 1, 1.1, [1, 2, 'text']

In [89]:
print("value", 1, 1.1, [1, 2, 'text'], sep=": ")

value: 1: 1.1: [1, 2, 'text']

In [90]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep", "end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep=", ", end="")
print("어떻게 사용하는지", "이해가 되시나요", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [91]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":")

2021/02/03 18:33:23

In [92]:
# 10, 20 입력
apple = 1000
orange = 200
x = input("사과와 귤을 몇개 드릴까요?")
x = x.split(",")
a, b = map(int,x)

print("\n실행 결과:")
print("총 가격은 ", (a * apple) + (b * orange), "원입니다.", sep="")

사과와 귤을 몇개 드릴까요? 10, 20

실행 결과:
총 가격은 14000원입니다.

## 흐름제어

In [93]:
type(input_value4) is int

True

In [94]:
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [95]:
print(type(input_value4))

<class 'int'>

In [96]:
print(input_value4)

5

In [97]:
age = 39

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

30대 입니다.
감사합니다.

In [98]:
age = 26

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

20대 입니다.
감사합니다.

In [99]:
age = 40

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
else:
    print("오우... 불혹을 넘기셨군요.")
    
print("감사합니다.")

오우... 불혹을 넘기셨군요.
감사합니다.

In [100]:
# 아이디: biana, 회원 등급: 3
id = input("아이디를 입력하세요")

if id == "admin":
    print("\n최고 관리자, 모든 권한을 갖습니다.")
else:
    level = int(input("회원 등급을 입력해주세요 :"))
    if 1 <= level <= 3:
        print("\n제한적인 권한을 갖습니다.")
    else: 
        print("\n권한이 없습니다.")

아이디를 입력하세요 biana
회원 등급을 입력해주세요 : 3

제한적인 권한을 갖습니다.

In [102]:
# 아이디: admin
id = input("아이디를 입력하세요")

if id == "admin":
    print("최고 관리자, 모든 권한을 갖습니다.")

아이디를 입력하세요 admin

최고 관리자, 모든 권한을 갖습니다.