# 연습문제

사용자로부터 입력 받은 시간이 정각인지 판별할 수 있는 코드를 작성하세요. input(), split() 활용

In [26]:
h, m = input("시간을 입력하세요, hh:mm형식으로 입력해주세요.").split(":")

if m == "00":
    print("정각입니다")
else:
    print("정각이 아닙니다.")

시간을 입력하세요, hh:mm형식으로 입력해주세요. 1:30

정각이 아닙니다.

# 연습문제

list_a의 값을 슬라이싱을 통해 변경 및 출력하는 코드를 작성해보세요.
``` python
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

> 실행결과: 
[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10]

In [42]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_a[2:9:3] = ["짝"] * 3

print(list_a)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10]

# 연습문제

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성해보세요.

> 실행결과 :  
1부터 10까지 홀수의 합은 25입니다.

In [38]:
num = 10
odd_sum = 0

for _ in range(1, num + 1):
    if _ % 2 == 1:
        odd_sum += _
print("1부터 10까지 홀수의 합은 ", odd_sum, "입니다.", sep = "")

1부터 10까지 홀수의 합은 25입니다.

In [43]:
print("su","i\n bbal","l \n  john","a \n   a ryup","ne", sep="")

sui
 bball
  johna
   a ryupne

# 연습문제

for 문 안에 for 문을 중첩하여 '*' 문자로 5x5 사각형을 그려보세요.

In [49]:
for i in range(5):
    for j in range(5):
        print("*", end = "")
    print()

*****
*****
*****
*****
*****

In [3]:
for i in range(5):
    print("*" * 5)

*****
*****
*****
*****
*****

In [1]:
count = int(input("반복할 횟수를 입력하세요: " ))

while count > 0:
    print("Hello world", count)
    count -= 1

반복할 횟수를 입력하세요:  3

Hello world 3
Hello world 2
Hello world 1

# 연습문제

while 문을 사용하여 1 이상 100 이하의 짝수를 '\t'를 구분자로 해서 출력해보세요.

In [6]:
i = 2

while i <= 100:
    print(i, end = "\t")
    i += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

# 연습문제

사용자로부터 자연수를 입력받아옵니다. 그 숫자의 구구단을 출력하는 프로그램을  
구현해보세요. 아래의 실행 결과를 참고하세요.(while문 활용)

In [16]:
num = int(input("구구단을 알려드립니다. 숫자를 입력하세요."))
i = 1

while i < 10:
    print(num, "*", i, "=", num * i)
    i += 1

구구단을 알려드립니다. 숫자를 입력하세요. 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 연습문제

사용자로부터 학생의 숫자와 학생 성적을 입력받습니다. 학생 성적 평균을 구하는  
프로그램을 while문으로 구현해보세요.

In [32]:
student_count = int(input("학생의 수 :"))
i = 1
sum = 0
average = 0

while i <= student_count:
    a = int(input(str(i) + "번 학생의 점수 :"))
    sum += a
    i += 1
average = sum / student_count
print("평균 :", average, "점", sep = "")

학생의 수 : 3
1번 학생의 점수 : 77
2번 학생의 점수 : 88
3번 학생의 점수 : 99

평균 :88.0점

In [33]:
stu = int(input("학생의 수 :"))
score=0
asd = 1
while asd <= stu:
    score += int(input(str(asd)+"번 학생의 점수:"))
    asd+=1
print(score/stu)

학생의 수 : 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 99

88.0

In [34]:
stu = int(input("학생의 수 :"))
score=0
asd = 1
result=0
while asd <= stu:
    score = int(input(str(asd)+"번 학생의 점수:"))
    result += score
    asd+=1
print(result/stu)

학생의 수 : 3
1번 학생의 점수: 7
2번 학생의 점수: 8
3번 학생의 점수: 9

8.0

# 연습문제

A학급의 수학 점수가 다음과 같을 때 while문 조건식에 len() 함수를 사용하여 이 학급의  평균 점수를 구하는 프로그램을 구현해보세요.

class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)

In [43]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)

i = 0
total = 0
average = 0

while i < len(class_a):
    total += int(class_a[i])
    i += 1
average = total / len(class_a)
print(average)

79.0

# 연습문제

0부터 100까지 자연수의 총합을 구하는 프로그램을 구현해보세요.

- while 문과 break를 활용해서 작성해보세요.

In [48]:
i = 0
total = 0

while True:
    total += i
    i += 1
    if i > 100:
        break
print(total)

5050

# 연습문제

아래 소스 코드를 완성하여 0부터 100사이의 숫자 중 3으로 끝나는 숫자만 출력되게  
만드세요.

In [83]:
i = 0
while True:
    if i > 100:
        break
    if i % 10 != 3:
        i += 1
        continue
    print(i, end = ' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [69]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    if i > 100:
        break
    print(i, end = ' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

# 연습문제

1부터 10까지의 순서대로 줄을 바꾸지 않고 출력 값마다 뒤에 공백을 표시합니다.  

(for / while 모두 작성)

In [75]:
i = 1

while i <= 10:
    print(i, end = " ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [81]:
for _ in range(1, 11):
    print(_, end = " ")

1 2 3 4 5 6 7 8 9 10

# 연습문제

두 자연수 n 부터 m을 입력받고, n부터 m 까지의 합을 구하는 프로그램을 작성하세요.

(for / while 모두 작성)

> n, m , total은 변수명입니다.  
f-string은 3.6 버전부터 지원됩니다.  
print(f'{n}부터 {m}까지의 합은 {total}입니다')

In [93]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0

for _ in range(n, m + 1):
    total += _

print(f'{n}부터 {m}까지의 합은 {total} 입니다.')

시작하는 정수 입력: 3
끝나는 정수 입력: 10

3부터 10까지의 합은 52 입니다.

In [92]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0
i = n

while i <= m:
    total += i
    i += 1
    
print(f'{n}부터 {m}까지의 합은 {total} 입니다.')

시작하는 정수 입력: 3
끝나는 정수 입력: 10

3부터 10까지의 합은 52 입니다.

In [94]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0

for _ in range(n, m + 1):
    if _ % 2 == 0:
        total += (_ * _)
print(f'{n}부터 {m}사이의 짝수 제곱의 합은 {total}입니다.')

시작하는 정수 입력: 4
끝나는 정수 입력: 7

4부터 7사이의 짝수 제곱의 합은 52입니다.

In [1]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0
i = n

while i <= m:
    if i % 2 == 0:
        total += (i * i)
    i += 1
print(f'{n}부터 {m}사이의 짝수 제곱의 합은 {total}입니다.')

시작하는 정수 입력: 4
끝나는 정수 입력: 7

4부터 7사이의 짝수 제곱의 합은 52입니다.

# 연습문제

어떤 학급의 국어 점수가 다음과 같을 때 반복문을 이용하여 A학급의 평균 점수 구하기.  
(for / while 모두 작성)

Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [113]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
average = 0

for i in range(len(Kor)):
    total += int(Kor[i])
    average = total / len(Kor)
print(average)

79.0

In [117]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
average = 0
i = 0

while i < len(Kor):
    total += Kor[i]
    average = total / len(Kor)
    i += 1
print(average)

79.0

In [116]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
average = 0

for score in Kor:
    total += score
    average = total / len(Kor)
print(average)

79.0

# 연습 문제

10 미만의 자연수에서 3과 5의 배수를 구하면 3, 5, 6, 9 입니다.  
이들의 총합은 23입니다.  
1000미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하세요.  
(for / while 모두 작성)

> 실행 결과 :  
결과는 233168 입니다.

In [121]:
i = 0
total = 0

for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(f'결과는 {total} 입니다.')

결과는 233168 입니다.

In [2]:
i = 0
total = 0

while i < 1000:
    if i % 3 == 0 or i % 5 == 0:
        total += i
    i += 1
print(f'결과는 {total} 입니다.')

결과는 233168 입니다.