In [1]:
import random
random_list = [random.randint(1, 2) for _ in range(10)]
print(random_list)

[2, 2, 1, 1, 2, 1, 2, 1, 2, 1]

# 연습 문제

사용자가 원하는 개수만큼의 로또 번호 생성기를 만들고자 합니다. 로또 번호 규칙은  
다음과 같습니다.

1. 번호의 범위는 1 ~ 45 사이입니다.
2. 총 6개의 번호를 생성합니다.
3. 생성된 번호는 오름차순으로 정리합니다.
4. 생선된 번호들에 중복이 있어선 안 됩니다.

In [2]:
# 입력값 6
import random
times = int(input("로또 번호 몇 개 드릴까요?"))
for i in range(times):
    while 1:
        lotto_list = [random.randint(1,45) for k in range(6)]
        for j in range(6):
            if lotto_list.count(lotto_list[j]) > 1:
                for i in range(lotto_list.count(lotto_list[j])-1):
                    lotto_list.remove(lotto_list[j])
                    lotto_list.append(random.randint(1,45))
                    continue
            else:
                lotto_list.sort()
        break
    print(lotto_list)

로또 번호 몇 개 드릴까요? 6

[1, 12, 25, 34, 36, 38]
[5, 10, 16, 23, 31, 32]
[5, 11, 17, 21, 40, 44]
[5, 17, 22, 33, 34, 41]
[5, 8, 15, 27, 30, 44]
[20, 22, 31, 38, 44, 45]

In [3]:
lotto_list = [random.randint(1,45) for k in range(6)]
len(lotto_list)

6

In [4]:
# 입력값 6
import random

count = int(input("로또 번호 몇 개 드릴까요?"))

for i in range(count):
    lotto_numbers = []
    while len(lotto_numbers) < 6:
        lotto_number = random.randint(1,45)
        if lotto_number not in lotto_numbers:
            lotto_numbers.append(lotto_number)
    lotto_numbers.sort()
    print(lotto_numbers)

로또 번호 몇 개 드릴까요? 6

[7, 18, 26, 36, 40, 42]
[7, 8, 19, 20, 30, 40]
[16, 20, 23, 31, 35, 39]
[1, 2, 3, 7, 18, 28]
[2, 10, 11, 30, 34, 40]
[1, 18, 21, 25, 31, 37]

In [5]:
# 입력값 6
import random

count = int(input("로또 번호 몇 개 드릴까요?"))

for i in range(count):
    lotto = [j for j in range(1, 46)]
    lotto_numbers = []
    for _ in range(6):
        lotto_number = lotto[random.randint(1, len(lotto) - 1)]
        lotto_numbers.append(lotto_number)
        lotto.remove(lotto_number)
        lotto_numbers.sort()
    print(lotto_numbers)

로또 번호 몇 개 드릴까요? 6

[9, 10, 16, 24, 31, 43]
[10, 17, 24, 28, 30, 36]
[8, 12, 13, 16, 18, 34]
[9, 23, 38, 40, 42, 43]
[5, 21, 23, 32, 36, 45]
[4, 14, 15, 30, 39, 42]

In [6]:
lotto = [j for j in range(1, 46)]
len(lotto)

45

In [7]:
# 입력값 6
import random

n = int(input("로또 번호 몇 개 드릴까요?"))
for i in range(n):
    lotto_list = set()
    while len(lotto_list) != 6:
        lotto_list.add(random.randint(1,45))
    print(lotto_list)

로또 번호 몇 개 드릴까요? 6

{32, 5, 43, 13, 16, 31}
{32, 38, 8, 45, 17, 24}
{38, 41, 42, 44, 15, 25}
{4, 5, 38, 9, 44, 24}
{33, 2, 9, 17, 21, 22}
{38, 11, 43, 45, 18, 23}

In [9]:
# 입력값 6
count = int(input("로또 번호 몇 개 드릴까요?"))

import random
# 만약 중복이 나온다면 개수가 6개가 아니게 됩니다.

for _ in range(count):
    set_num = {random.randint(1, 45) for _ in range(6)}
    print(set_num)

로또 번호 몇 개 드릴까요? 6

{33, 8, 42, 23, 24}
{2, 42, 13, 23}
{3, 5, 6, 40, 8, 23}
{39, 12, 13, 15, 22, 26}
{41, 42, 13, 19, 22, 24}
{35, 4, 5, 8, 17, 31}

In [10]:
import random
# 만약 중복이 나온다면 개수가 6개가 아니게 됩니다.
lotto = {}
while len(lotto) != 6:
    lotto = {random.randint(1, 45) for _ in range(6)}
result = list(lotto)
result.sort()
print(result)

[3, 9, 10, 12, 31, 45]

# 연습 문제

아래와 같은 리스트가 있을 때 set 자료형을 통해 중복을 제거하고 출력해보세요.  

- list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [11]:
list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

result = set(list_sample)

print(result)

{1, 2, 3, 4}

# 연습 문제

집합 컴프리헨션을 활용해서 1 ~ 100 사이의 3의 공배수를 구하고 set_3 변수에 담습니다.  
집합 컴프리헨션을 활용해서 1 ~ 100 사이의 5의 공배수를 구하고 set_5 변수에 담습니다.  
이들의 교집합을 구하고 result_set 변수에 담습니다. 그리고 그 result_set을 출력해보세요.  
- set의 특성상 출력된 값의 순서는 상관없습니다.

In [12]:
set_3 = {_ for _ in range(0,101,3) if _ != 0}
set_5 = {_ for _ in range(0,101,5) if _ != 0}

result_set = set_3 & set_5

print(result_set)

{75, 45, 15, 90, 60, 30}

# 연습 문제

시스템 관리자이자 겸직으로 인사팀에 있는 A 씨의 권한은 role_admin, role hr,  
role_user 를 갖습니다. 이때 권한마다 갖는 홈페이지 메뉴가 다음과 같습니다.  

- role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
- role_hr =  ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
- role_user = ("개인정보 조회", "근태관리")

세 개 권한으로부터 가질 수 있는 메뉴들을 중복 없이 오름차순으로 출력해보세요.

In [13]:
role_admin = {"회계 관리", "인사 관리", "구매 관리", "시스템 관리"}
role_hr =  {"인사 관리", "개인정보 조회", "회계 관리", "근태 관리"}
role_user = {"개인정보 조회", "근태관리"}
            
result = role_admin | role_hr | role_user
result_list = list(result)
result_list.sort()

for _ in range(len(result_list)):
    if _ == len(result_list) - 1:
        print(result_list[_])
    else:
        print(result_list[_], end = ", ")

개인정보 조회, 구매 관리, 근태 관리, 근태관리, 시스템 관리, 인사 관리, 회계 관리

In [14]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr =  ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태관리")

role_union_tuple = role_admin + role_hr + role_user

result = set(role_union_tuple)
            
result_list = list(result)
result_list.sort()
print(result_list)

['개인정보 조회', '구매 관리', '근태 관리', '근태관리', '시스템 관리', '인사 관리', '회계 관리']

In [15]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr =  ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태관리")

menus = list(set(role_admin + role_hr + role_user))
menus.sort()
end_char = ", "
for menu in menus:
    if menus[-1] == menu:
        end_char = ""
    print(menu, end = end_char)

개인정보 조회, 구매 관리, 근태 관리, 근태관리, 시스템 관리, 인사 관리, 회계 관리

# 연습 문제

2부터 입력 받은 수까지의 소수를 한줄에 7개씩 보여주는 프로그램을 작성하라.  

- 소수 : 1보다 큰 자연수 중 1과 그 수 자신만을 약수로 갖는 자연수
- 모든 소수의 약수는 2개임

In [17]:
# 입력값 100
print("2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.")
amount = int(input("찾는 범위를 입력하세요 :"))
line_change = 0

for _ in range(2, amount + 1):
    if _ % 2 != 0 and _ % 3 != 0 and _ % 5 != 0 and _ % 7 != 0:
        print(_, end = " ")
        line_change += 1
    elif _ == 2 or _ == 3 or _ == 5 or _ == 7:
        print(_, end = " ")
        line_change += 1
    elif line_change == 7:
        print()
        line_change = 0

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

찾는 범위를 입력하세요 : 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [18]:
# 입력값 100
print("2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.")
inData = int(input("찾는 범위를 입력하세요 :"))
i = 2
line = 0
while i <= inData:
    j = 2
    while j <= i:
        if i % j == 0:
            break
        j += 1
    if i == j:
        print(i, end = ' ')
        line = line + 1
        if line == 7:
            line = 0
            print()
    i += 1

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

찾는 범위를 입력하세요 : 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [19]:
# 입력값 100
print("2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.")
amount = int(input("찾는 범위를 입력하세요 :"))
amount_list = [_ for _ in range(1, amount + 1)]
for i in range(2, amount + 1):
    Flag = True
    for j in range(2,i):
        if i % j == 0:
            Flag = False
    if Flag == True:
        print(i,end=" ")

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

찾는 범위를 입력하세요 : 100

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [21]:
# 입력값 100
def isPrime(num):
    primes = [False, False] + [True]*(num-1)
    for i in range(2, num+1):
        if primes[i]:
            for _ in range(i * 2, num+1, i):
                primes[_] = False
    return primes[num]
get = int(input("찾는 범위: "))
lst = [_ for _ in range(2, get) if isPrime(_)]
count = 0
for _ in lst:
    count+=1
    print(_,end=" ")
    if count%7 == 0:
        print()

찾는 범위:  100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [23]:
# 입력값 100
print("2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.")
N = int(input("찾는 범위를 입력하세요:"))
for i in range(2,N+1):
    Flag = True
    for j in range(2,i//2+1):
        if i%j == 0 :
            Flag = False
    if Flag == True:
        print(i,end=" ")

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

찾는 범위를 입력하세요: 100

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [25]:
def function_name(message):
    x = input(message)
    print(x)
    print(x)

In [27]:
# 입력값 hello
function_name("값을 입력해주세요")

값을 입력해주세요 hello

hello
hello

```python
def 함수_이름(위치_인자, 위치_인자2, *가변_위치, 키워드_인자, 키워드_인자2, **가변_키워드):
    """
    
    Doc String을 적는 곳입니다.
    
    작성자: 이기수
    작성일자: 2020.02.03
    
    """
    함수의 바디
    함수의 바디
    
    return 반환값
```

In [28]:
def function2():
    """
    Docs string 부분입니다.
    이곳에 함수의 설명에 대해 적어놓으면 좋습니다.
    """
    pass

In [29]:
print(function2.__doc__)

    Docs string 부분입니다.
    이곳에 함수의 설명에 대해 적어놓으면 좋습니다.

In [30]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [31]:
print("1", "2", "3", "4", "5", "6")

1 2 3 4 5 6

In [32]:
# 함수 정의절

def function_name(positional, positional2, *args, keyword1 = 1, **kargs):
    pass # body

In [33]:
# 함수 정의절
def get_grade(score=100):
    """
    숫자로 된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "E"

In [34]:
get_grade()

'A'

In [35]:
print("안녕", "하세요", "반갑습니다", sep = "\n")

안녕
하세요
반갑습니다

In [36]:
print(get_grade.__doc__)

    숫자로 된 점수를 넣으시면 학점의 결과를 반환합니다.

In [37]:
result = get_grade(100) # "A"
print(result)

A

In [38]:
import random

# 20명의 점수를 입력했다.
scores = [random.randint(1, 100) for _ in range(20)]
print(scores)

[60, 71, 47, 83, 100, 85, 62, 69, 33, 27, 54, 46, 79, 59, 68, 11, 49, 98, 7, 43]

In [39]:
grades = list(map(get_grade, scores))
print(grades)

['C', 'B', 'D', 'B', 'A', 'A', 'C', 'C', 'E', 'E', 'D', 'D', 'B', 'C', 'C', 'E', 'D', 'A', 'E', 'D']

In [40]:
# 함수 정의절
def get_grade(score, student_number, name="홍길동"):
    """
    숫자로 된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    print(f"{student_number}, {name}의 성적을 확인합니다.")
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "E"

In [41]:
# 함수 호출
# 인수(arguments)
get_grade(score = 100, student_number = "19999999", name = "이기수")

19999999, 이기수의 성적을 확인합니다.

'A'

In [42]:
print(sep="", end="")

In [46]:
# 함수 정의절
# 인자(매개변수, parameter) - non-default, default 종류
# positional-only: / 문자를 기준으로 왼편에 온다.
def add_number(number2, number1 = 3, /):
    """
    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 + number2

In [50]:
# 인수(argument) - positional argument, keyword argument
result = add_number(2) # 소괄호 --> call

In [51]:
print(result)

5

In [52]:
# 함수 정의절
# 인자(매개변수, parameter) - non-default, default 종류
# keyword-only: * 문자를 기준으로 왼편에 온다.
def minus_number(*, number1, number2 = 3):
    """
    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 - number2

In [53]:
# 함수를 호출(Call)
# 인수(argument) - positional argument, keyword argument
minus_number(number1 = 20, number2 = 5)

15

In [54]:
# 함수 정의절
# 인자(매개변수, parameter) - non-default, default 종류
# positional - only: / 문자를 기준으로 왼편에 온다.
# keyword-only: * 문자를 기준으로 왼편에 온다.
def multi_number(number1, /, *, number2 = 3):
    """
    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 * number2

In [55]:
multi_number(3, number2 = 10)

30

In [56]:
def string_line(str_value, /, str_len = 70, *, sep = "#"):
    """
    str_value는 가운데 오는 텍스트입니다.
    str_len은 텍스트의 설정할 길이입니다.
    sep는 구분선을 그을때 쓰는 문자입니다.
    """
    print(str_value.center(str_len, sep))

In [57]:
string_line("구분", 50, sep = "*")

************************구분************************

In [58]:
len('************************구분************************')

50

In [59]:
string_line("절취선", str_len = 100, sep = "-")

------------------------------------------------절취선-------------------------------------------------

In [60]:
len('------------------------------------------------절취선-------------------------------------------------')

100

In [61]:
print("1", "1", "1", "1", "1", "1", "1", "1", "1", "1",)

1 1 1 1 1 1 1 1 1 1

In [62]:
# *args: var positional 가변 위치
def test_func(a, b, c,*args):
    print(f"a: {a} b: {b} c: {c}")
    print(type(args))
    print(args)

In [63]:
test_func("a 위치입니다.", "b 위치입니다", "c 위치입니다", "여기는", "어딜까요", "몇개", "더")

a: a 위치입니다. b: b 위치입니다 c: c 위치입니다
<class 'tuple'>
('여기는', '어딜까요', '몇개', '더')

In [64]:
# **kargs; var keyword 가변 키워드
def test_fun2(a = "a", b = "b", **kargs):
    print(a, b)
    print(type(kargs))
    print(kargs)

In [65]:
test_fun2(a="ab", b="bc", key="value", key2="value2")

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

# 연습 문제

각 입력받은 정수를 10씩 더해서 반환하는 함수를 만들어 보세요.

- 함수명: plus_ten

In [66]:
def plus_ten(A):
    return A + 10

In [67]:
plus_ten(70)

80